@model PagedList.PagedList<u21451193_HW06.Models.product>
@using Newtonsoft.Json;


<h2>Products</h2>
@using (Html.BeginForm("Index", "products", FormMethod.Post))
{
    <label for="searchText">Search: </label>
    <input type="text" id="searchText" name="searchText" />
    <input type="submit" value="Search" class=" btn btn-primary" id="btnSearch"/>
    <input type="button" value="Add new" class="btn btn-info" id="btnCreate" />
}
<br />
<table class="table" id="data">
    <tr>
        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            Price
        </th>
        <th>
            Brand
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="productName">
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td id="productYear">
                @Html.DisplayFor(modelItem => item.model_year)
            </td>
            <td id="productPrice">
                @Html.DisplayFor(modelItem => item.list_price)
            </td>
            <td id="productBrandName">
                @Html.DisplayFor(modelItem => item.brand.brand_name)
            </td>
            <td id="productCategoryName">
                @Html.DisplayFor(modelItem => item.category.category_name)
            </td>
            <td>
                <button>
                    <a onclick="Edit(@item.product_id)">Edit</a>
                </button>
                |
                <button>
                    <a onclick="Details(@item.product_id)">Details</a>
                </button>
                |
                <button>
                    <a onclick="Delete(@item.product_id)">Delete</a>
                </button>
            </td>
        </tr>
    }

</table>

<ul class="pagination pagination-sm">
    @{
        if (!Model.IsFirstPage)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "products", new { pageIndex = 1 })">First</a></li>
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "products", new { pageIndex = Model.PageNumber -1 })">Prev</a></li>
        }
        if (!Model.IsLastPage)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "products", new { pageIndex = Model.PageNumber + 1 })">Next</a></li>
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "products", new { pageIndex = 33 })">Last</a></li>
        }

    }
</ul>

<!-- DETAILS MODAL -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- CREATE MODAL -->
<div class="modal fade" id="CreateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- EDIT MODAL-->
<div class="modal fade" id="EditModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- DELETE MODAL-->
<div class="modal fade" id="DeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function Details(id) {
            $.get("@Url.Action("Details","products")/" + id,
                function (data) {
                    $('.modal-body').html(data);
                });

                $("#myModal").modal("show");
        } // No touchy

        function Edit(id) {
            console.log(id);
            $.ajax({
                type: "POST",
                url: '/products/Edit/' + id,
                /*data: id,*/
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $('.modal-body').html(data);
                    $("#EditModal").modal("show");
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        };

        function Delete(id) {
            console.log(id);
            $.ajax({
                type: "POST",
                url: '/products/Delete/' + id,
                /*data: id,*/
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $('.modal-body').html(data);
                    $("#DeleteModal").modal("show");
                }
            });
        }

        $(function () {
            $("#btnCreate").click(function () {
                $.ajax({
                    type: "POST",
                    url: '/products/Add',
                    /*  data: '{customerId: "' + customerId + '" }',*/
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $('.modal-body').html(data);
                        $('#CreateModal').modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });


    </script>
}